In [1]:
import  pandas as pd
import numpy as np

import plotly.express as px

In [2]:
df = pd.read_csv('india.csv')
df.head()

,State,District,Latitude,Longitude,District code,Population,Households_with_Internet,sex_ratio,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,5512,100.0,54.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,8606,98.0,57.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,13763,100.0,64.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,22411,101.0,64.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,19383,100.0,61.0

In [7]:
list_of_state = list(df['State'].unique())
list_of_state.insert(0,'Overall India')
list_of_state

['Overall India',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Maharashtra',
 'Chandigarh',
 'Chhattisgarh',
 'Himachal Pradesh',
 'Daman and Diu',
 'Gujarat',
 'Goa',
 'Haryana',
 'Uttar Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Orissa',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttaranchal',
 'West Bengal']